$primary-background: #ccc;
$accent-1: #9ED3DE;
$accent-2: #333;
$logo-font: 'Londrina Outline', cursive;
$accent-font: 'Londrina Solid', cursive;
$body-font: 'Roboto', sans-serif;
$thin: 100;
$light: 300;
$regular: 400;
$medium: 500;
$black: 900;

