@import 'variables';
@import 'normalize';

@import url('https://fonts.googleapis.com/css?family=Londrina+Outline|Londrina+Solid|Roboto&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $primary-background;
  font-family: $body-font;
  font-weight: $light;
}

header {
  background-color: $accent-1;
  display: flex;
  height: 130px;
  justify-content: space-between;
}

h1 {
  font-family: $logo-font;
  font-size: 6rem;
  font-weight: $regular;
  margin: 10px 20px;
}

h2 {
  color: #333;
  font-family: $body-font;
  font-weight: $thin;
  font-size: 2rem;
  margin-top: 55px;
}

#currentDate {
  font-family: $accent-font;
  font-size: 3rem;
  font-weight: $light;
}

.search-date {
  display: flex;
  flex-direction: column;
  margin: 18px;
  padding: 2px;
}

.daily-view {
  background-color: #eee;
  display: flex;
  justify-content: space-around;
  height: 70px;
}

.daily-stat {
  font-family: $accent-font;
  font-size: 2.5rem;
  font-weight: $light;
}

p.daily-label {
  font-family: $body-font;
  font-size: 1.5rem;
  font-weight: $thin;
  margin: 20px;
}

////////tab navigation
.tabbed-sections {
	width: 100%;
  margin: 0 auto;
}

ul.tabs {
  display: flex;
  justify-content: space-evenly;
	list-style: none;
	margin: 0px;
  padding: 0px;
  li {
    background: none;
	  color: #222;
    display: inline-block;
    font-family: $logo-font;
    font-size: 2rem;
    padding: 10px 15px;
    .active {
	    background: #ededed;
	    color: #222;
    }
  }
}


.content {
	display: none;
	background: #ededed;
  padding: 15px;
  .active {
	  display: inherit;
  }
}

















// var this = { } 
// None of us are here to stay the same.     